{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:test {:main-opts   ["-m" "cognitect.test-runner"]
                  :extra-paths ["test" "test-resources"]
                  :exec-fn cognitect.test-runner.api/test
                  :extra-deps  {io.github.cognitect-labs/test-runner
                                {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                                org.clojure/test.check     {:mvn/version "0.10.0"}}}}}